@media screen and (min-width: 600px) and (max-width: 800px) {

    .desktop {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 5px auto;
    }
    header {
        margin-left: 10px;
        border-radius: 5px;
    }
    .article {
        align-items: center;
        flex-direction: row;

    }
    .banner {
        width: 94vw;
        height: 30vh;
        margin: 5px auto;
    }

    .art {
        width: 42vw;
        height: 15vh;
        flex-direction: column;
        
    }
    footer {
        width: 94vw;
    }

}